//  Have 3 main break points??? - Starting Point!!!! 
@media (max-width: 1000px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
  .footerFlexContainer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    .logo {
      margin-bottom: 20px;
    }
    .footerNav {
      width: 100%;
      nav{
         ul {
        width: auto;
        }
      } 
    }
  }
}

@media (max-width: 800px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
}

@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
}